@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;700&display=swap');



body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight:100;
}

.game{
    display:flex;
    flex-direction:column;
    row-gap:10px;
    max-width:400px;
}

.score-board{
   /* width:100%;*/
   background-color:#1b7ced;
   color:white;
}
.score-board>div{
width:50%;
column-gap:5px;
}
.container {
 /* background: #aaa;*/
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.container div {
  /*flex-grow: 1;*/
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:center;
  align-item:center;
  width: 100px;
  height: 100px;
  font-size:50px;
  border:1px solid #d0d7e0;
}

.flex{
    display:flex;
}
.justify-space-between{
justify-content:space-between;
}

.well{
    padding:5px;
    border:1px solid #d0d7e0;
}
 #btn-reset{
    width:100%;
    padding:10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight:700;
    font-size:16px;
}

#btn-reset:hover{
    background-color:#1b7ced;
    color:#fff;
}

.dark-blue{
    background-color:#1167b1;
    color:white;
}
